/*------------------------------------*\
	Blog Page
\*------------------------------------*/
/* -- Single Blog -- */
.single-blog {
	margin-bottom:40px;
}

.single-blog .blog-img > a {
	position:relative;
	display:block;
	border-radius:4px;
	overflow:hidden;
}

.single-blog .blog-img img {
	width:100%;
}

.single-blog .blog-img > a:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#FF6700;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.single-blog .blog-img > a:hover:after {
	opacity:0.7;
}

.single-blog .blog-meta {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #EBEBEB;
}

.single-blog .blog-meta .blog-meta-author > a {
	color: #FF6700;
}

.single-blog .blog-meta .blog-meta-comments {
	margin-left:10px;
}

.single-blog .blog-meta .blog-meta-comments > a {
	color: #798696;
}

/* -- Pagination -- */
.post-pagination {
	margin-top:40px;
	text-align:center;
}

.post-pagination .pages {
	display:inline-block;
}

.post-pagination .pages li {
	display:inline-block;
}

.post-pagination .pages li + li {
	margin-left:10px;
}

.post-pagination .pages li {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	background-color: #EBEBEB;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.post-pagination .pages li a {
	display:block;
	-webkit-transition: 0.2s color;
	transition: 0.2s color;
}

.post-pagination .pages li:hover  , .post-pagination .pages li.active {
	background-color: #FF6700;
	color:#FFF;
}

.post-pagination .pages li:hover a {
	color:#FFF;
} 

.pagination-back , .pagination-next {
	display: block;
	text-align: center;
	border-radius: 40px;
	background-color: #EBEBEB;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
	height:40px;
	padding:0px 30px;
	line-height:40px;
}

.pagination-next:hover  , .pagination-back:hover  {
	color:#FFF;
	background-color:#FF6700;
}

.pagination-next:after {
	content:"\f178";
	font-family:fonts/FontAwesome;
	margin-left:15px;
}

.pagination-back:before {
	content:"\f177";
	font-family:fonts/FontAwesome;
	margin-right:15px;
}

/*------------------------------------*\
	Blog Page Sidebar
\*------------------------------------*/
.widget + .widget {
	margin-top:40px;
}

/*-- Search --*/
.widget.search-widget {
	position:relative
}

.widget.search-widget .input {
	padding-right:60px;
}

.widget.search-widget button {
	position:absolute;
	right:0;
	top:0;
	height:40px;
	width:40px;
	background-color:transparent;
	border:none;
}

.widget.search-widget .input:focus + button {
	color:#FF6700;
}

/*-- Category --*/
.category-widget .category {
	display:block;
	text-transform:uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

.category-widget .category + .category {
	border-top: 1px solid #EBEBEB;
}

.category-widget .category:before {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #FF6700;
	margin-right:10px;
}

.category-widget .category span {
	font-size:14px;
	margin-left:10px;
	color:#798696;
}

/*-- Sidebar Posts --*/
.single-post:after {
	content:"";
	display:block;
	clear:both;
}

.single-post + .single-post {
	margin-top:20px;
}

.single-post .single-post-img {
	position:relative;
	width: 80px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 3px;
	border-radius: 4px;
	overflow: hidden;
}

.single-post .single-post-img img {
	width:100%;
}

.single-post-img:after {
	content:"";
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	right:0;
	background-color:#FF6700;
	opacity:0;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.single-post-img:hover:after {
	opacity:0.7;
}

/*-- Tags --*/
.tags-widget .tag {
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	margin-right: 0px;
	margin-top: 5px;
	padding: 5px 15px;
	border-radius: 40px;
	border: 1px solid #EBEBEB;
	color: #798696;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.tags-widget .tag:hover {
	background-color:#FF6700;
	border-color:#FF6700;
	color:#FFF;
}

/*------------------------------------*\
	Single Post Page
\*------------------------------------*/
/* --- Blog Post Meta --- */
.blog-post-meta {
	margin-top:40px;
}

.blog-post-meta li {
	display:inline-block;
}

.blog-post-meta li + li {
	margin-left:15px;
}

.blog-post-meta li , .blog-post-meta li > a {
	color: rgba(255, 255, 255, 0.8);
}

.blog-post-meta .blog-meta-author > a {
	color: #FF6700;
}

/* --- Blog Share --- */
.blog-share {
	border-top: 1px solid #EBEBEB;
	padding-top: 10px;
	margin-top: 40px;
}

.blog-share > h4 {
	display:inline-block;
	margin:0;
}

.blog-share a  {
	display:inline-block;
	margin-left:10px;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#FFF;
	background-color:#EBEBEB;
	border-radius:50%;
	-webkit-transition:0.2s opacity;
	transition:0.2s opacity;
}

.blog-share a.facebook {
	background-color:#3b5998;
}

.blog-share a.twitter {
	background-color:#55acee;
}

.blog-share a.google-plus {
	background-color:#dd4b39;
}

/* --- Blog Comments --- */
.blog-comments {
	margin-top:40px;
}

.blog-comments .media {
	margin-top:20px;
	margin-bottom:20px;
}

.blog-comments .media .media {
	margin-left:20px;
}

.blog-comments .media .media:nth-last-child(1) {
	margin-bottom:0px;
}

.blog-comments .media .media-body {
	padding:20px;
	background-color:#EBEBEB;
	border-radius:0px 4px 4px;
}

.blog-comments .media .media-left:before {
	content:"";
	position:absolute;
	right:0;
	top:0;
	border-style: solid;
	border-width: 0px 15px 15px;
	border-color: transparent #EBEBEB transparent transparent;
}

.blog-comments .media-left {
	position:relative;
	padding-right:20px;
}

.blog-comments .media-left img {
	width:80px;
	height:80px;
	background-color:#EBEBEB;
	border-radius:50%;
}

.blog-comments .media .date-reply {
	font-size:12px;
	text-transform:uppercase;
	color:#374050;
}
.blog-comments .media .date-reply .reply {
	margin-left:15px;
}

/* --- Blog Reply Form --- */
.blog-reply-form {
	margin-top:40px;
}

.blog-reply-form .input {
	margin-bottom:20px;
}

.blog-reply-form .input.name-input , .blog-reply-form .input.email-input {
	width: calc(50% - 10px);
	float:left;
}

.blog-reply-form .input.email-input {
	margin-left: 20px;
}

.blog-reply-form textarea {
	height:90px;
}

body {
  font-family: 'Montserrat', sans-serif;
font-size: 15px;
  font-weight: 400;
  color: #798696;
overflow-x:hidden;
}

a {
	font-family: 'Lato', sans-serif;
	color: #374050;
	font-weight: 700;
}

blockquote:before{
	content:"\f10d";
	font-family:fontAwesome;
	position:absolute;
	left:0;
	top:0;
	color: #FF6700;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	border-radius:50%;
	border:1px solid #EBEBEB;
}
.main-button.icon-button:after {
	content:"\f178";
	font-family:FontAwesome;
	position:absolute;
	width: 30px;
	right: 15px;
	text-align:center;
	opacity:0;
	-webkit-transition:0.2s all;
	transition:0.2s all;
}

.hero-area-tree li {
	display:inline-block;
	font-family: 'Lato', sans-serif;
	font-weight:600;
	font-size:14px;
	color:rgba(255, 255, 255, 0.8);
}

.pagination-next:after {
	content:"\f178";
	font-family:FontAwesome;
	margin-left:15px;
}

.pagination-back:before {
	content:"\f177";
	font-family:FontAwesome;
	margin-right:15px;
}
