
<!DOCTYPE html>
<html>
<head>
  <% var page = "About"%>
  <% include ../partials/header/head.ejs %>
</head>
<body>
  <% include ../partials/header/nav.ejs %>
  <!-- For loop for all departments-->

  </html><section class="course-area padding-top" id="courses">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 col-sm-12 col-xs-12">
          <div class="area-title text-center wow fadeIn">
            <h2 class="xs-font26"><a href="#">Department of Metallergy</a></h2>
          </div>
        </div>
      </div>

        <!--end forloop -->
  <% include ../partials/footer/footer.ejs %>
</body>
